<form action="/search" method="get">
  <div class="form-group">
    <label for="tvNames">Television/Movies Name</label>
    <input type="text" class="form-control" name="tvNames" id="tvNames" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">You know who you want to search for. KJ:)</small>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>